{%extends display.cp_posts%}


{%block content%}
<form method="post" id="form_posts" {%if child == 'add'%}data-clear{%endif%}>
 <div class="row auto">
  <div class="span9">
{{ block('post_title') }}
{{ block('post_url') }}
{{ block('post_desc') }}
{{ block('post_excerpt') }}
{{ block('post_tags') }}
  </div>
  <div class="span3">

   <div class="panel panel-default inline">
    <div class="panel-heading">{%trans "Publish"%}</div>
    <div class="panel-body">
{{ block('post_slug') }}
{{ block('post_shortcode') }}
{{ block('post_language') }}
{{ block('post_status') }}
{{ block('post_submit') }}
    </div>
   </div>

{{ block('post_parent') }}
{{ block('post_cat') }}
{{ block('post_thumb') }}
{{ block('post_meta_type') }}
  </div>
 </div>
</form>
{%endblock%}