
{%macro page(page_link, p)%}
{% if page_link == p.current%}
   <a class="current">{{page_link}}</a>{% else %}
   <a href="{{p.current_url}}/page={{page_link}}">{{page_link}}</a>{% endif %}
{%endmacro%}


{% macro make(_first, _end, p)%}
{% if (p.current - (p.count_link/2)) > 1 %}
   <a class="first" href="{{p.current_url}}/page=1">{%trans "First page"%}</a>{% endif %}
{% if p.current > 1 %}
   <a class="prev" rel="prev" href="{{p.current_url}}/page={{p.prev}}">«</a>{% endif %}

{%for i in _first.._end%}
{{_self.page(i, p)}}
{%endfor%}
{% if p.current != p.total_pages %}
   <a class="next" rel="next" href="{{p.current_url}}/page={{p.next}}">»</a>
{% endif %}
{% if (p.current + (p.count_link/2)) < p.total_pages %}
   <a class="last" href="{{p.current_url}}/page={{p.total_pages}}">{%trans "Last page"%}</a>
{% endif %}
{%endmacro%}


{% if pagenation.total_pages > 1%}
  <nav class="pagination">
{% if pagenation.count_link >= pagenation.total_pages%}
{{_self.make(1, pagenation.total_pages, pagenation)}}

{% elseif pagenation.current < (pagenation.count_link/2) %}
{{_self.make(1, pagenation.count_link, pagenation)}}
{% elseif (pagenation.current + (pagenation.count_link/2)| round(0, 'floor')) > pagenation.total_pages  %}
{{_self.make(pagenation.total_pages - pagenation.count_link, pagenation.total_pages, pagenation)}}

{% else %}
{{_self.make(pagenation.current - (pagenation.count_link/2) | round(0, 'floor'), pagenation.current + (pagenation.count_link/2) | round(0, 'floor'), pagenation)}}
{% endif %}
  </nav>
{% endif %}
