{%extends display.cp%}


{%block content%}
  <ul class="tabs row auto" data-group="primary">
   <li data-tab="general" class="span3"><i class="fa fa-cog"></i> {%trans "General"%}</li>
   <li data-tab="social" class="span3 active"><i class="fa fa-share-alt"></i> {%trans "Social Networks"%}</li>
   <li data-tab="account" class="span3"><i class="fa fa-user"></i> {%trans "Account"%}</li>
  </ul>

  <form class="ajx form row inline autostyle" method="post" {%if child == 'add'%}data-clear{%endif%}>
   <ul class="tab" data-group="primary">
    <li id="tab-general">
     <div class="panel panel-default">
      <div class="panel-body">
{{forms.make(form['general'])}}
       <button type="submit" class="button primary row-clear" name="submit" id="submit">{%trans "Save Changes"%}</button>
      </div>
      <div class="panel-footer">
       {%trans "Edit your site general options"%}
      </div>
     </div>
   </li>

   <li id="tab-social" class="row auto">
    <div class="span10">
     <div class="panel panel-default">
      <div class="panel-body">
       <ul class="tab" data-group="social">
        <li id="tab-socialnetworks">{{forms.make(form['social'])}}</li>
        <li id="tab-twitter">{{forms.make(form['twitter'])}}</li>
        <li id="tab-facebook">{{forms.make(form['facebook'])}}</li>
        <li id="tab-telegram">{{forms.make(form['telegram'])}}</li>
       </ul>
       <button type="submit" class="button primary row-clear" name="submit" id="submit">{%trans "Save Changes"%}</button>
      </div>
      <div class="panel-footer">
       {%trans "Edit your site social networks options"%}
      </div>
     </div>
    </div>
    <div class="span2">
     <ul class="tabs auto vertical" data-group="social">
      <li class="labeled reverse" data-tab="socialnetworks"><i class="fa middle fa-share-alt"></i> {%trans "General"%}</li>
      <li class="labeled reverse" data-tab="twitter"><i class="fa middle fa-twitter"></i> {%trans "Twitter"%}</li>
      <li class="labeled reverse" data-tab="facebook"><i class="fa middle fa-facebook-official"></i> {%trans "Facebook"%}</li>
      <li class="labeled reverse" data-tab="telegram"><i class="fa middle fa-paper-plane"></i> {%trans "Telegram"%}</li>
     </ul>
    </div>
   </li>
    <li id="tab-account">
     <div class="panel panel-default">
      <div class="panel-body">
{{forms.make(form['account'])}}
       <div class="field">
        <input type="checkbox" name="site-redirect" id="site-redirect" class="checkbox" {%if datarow.redirect.value == 'on'%}checked{%endif%}>
        <label for="site-redirect"><span>{%trans "Redirect to main address"%}</span></label>
       </div>

       <div class="field">
        <input type="checkbox" name="site-reg" id="site-reg" class="checkbox" {%if datarow.register.value == 'on'%}checked{%endif%}>
        <label for="site-reg"><span>{%trans "Allow registration"%}</span></label>
       </div>
       <div class="field">
        <label for="site-role">{%trans "Default permission"%}</label>
        <select name="site-role" placeholder='{%trans "Default permission"%}'>
         <option value="" disabled="disabled">{%trans "Select"%} {%trans "Default permission"%}</option>
{% for key, value in datarow.permissions.meta%}
         <option value="{{key}}" {%if datarow.permissions.value == key%}selected{%endif%}>{%trans value%}</option>
{% endfor %}
        </select>
       </div>
       <button type="submit" class="button primary row-clear" name="submit" id="submit">{%trans "Save Changes"%}</button>
      </div>
      <div class="panel-footer">
       {%trans "Edit your site accounting options"%}
      </div>
     </div>
   </li>
  </ul>

 </form>
{%endblock%}