{%extends display.cp%}


{%block content%}

  <p class="alert alert-info">{%trans "You can use our tools"%}</p>


  <div class="vertical-menu">
   <a target='_blank' href="{{url.baseFull}}/tools/sitemap">{%trans "Regenerate sitemap"%}</a>
   <a target='_blank' href="{{url.baseFull}}/tools/twigtrans">{%trans "Extract twig trans func in current project"%}</a>
   <a target='_blank' href="{{url.baseFull}}/tools/twigtrans?path=addons">{%trans "Extract twig trans func in saloos addons"%}</a>
   <a target='_blank' href="{{url.baseFull}}/tools/dbtables">{%trans "Automatically read database and create sql files"%}</a>
   <a target='_blank' href="{{url.baseFull}}/tools/server">{%trans "Show server info"%}</a>
   <a target='_blank' href="{{url.baseFull}}/tools/phpinfo">{%trans "Show PHP info"%}</a>

   <a target='_blank' href="socialnetwork">{%trans "social networks"%}</a>

   <a target='_blank' href="{{url.baseFull}}/tools/git?name=saloos">{%trans "Update"%} {%trans "Saloos Repository"%}</a>
   <a target='_blank' href="{{url.baseFull}}/tools/git?name=addons">{%trans "Update"%} {%trans "Saloos Addons Repository"%}</a>
   <a target='_blank' href="{{url.baseFull}}/tools/git?name={{site.title | lower}}">{%trans "Update"%} {%trans "Current Project Repository"%}</a>
   <br>
   <a target='_blank' href="{{url.baseFull}}/tools/db?backup=true">{%trans "Backup"%} {%trans "Project Database"%}</a>

   <form method="post" action="{{url.baseFull}}/tools/db" data-action>
     <input type="text" name="username" placeholder="db username">
     <input type="password" name="password" placeholder="db password">
     <input type="hidden" name="type" value="upgrade">
     <input type="submit">
   </form>

   <a target='_blank' href="{{url.baseFull}}/tools/db?upgrade=true">{%trans "Upgrade"%} {%trans "Project Database"%}</a>
  </div>
{%endblock%}

