{%extends display.cp%}


{%block content%}

  <p class="alert alert-info">{%trans "You can use our tools"%}</p>


  <div class="vertical-menu">
   <a target='_blank' href="tools/sitemap">{%trans "Regenerate sitemap"%}</a>
   <a target='_blank' href="tools/twigtrans">{%trans "Extract twig trans func in current project"%}</a>
   <a target='_blank' href="tools/twigtrans?path=addons">{%trans "Extract twig trans func in saloos addons"%}</a>
   <a target='_blank' href="tools/dbtables">{%trans "Automatically read database and create sql files"%}</a>
   <a target='_blank' href="tools/server">{%trans "Show server info"%}</a>
   <a target='_blank' href="tools/phpinfo">{%trans "Show PHP info"%}</a>

   <a target='_blank' href="socialnetwork">{%trans "social networks"%}</a>

   <a target='_blank' href="tools/git?name=saloos">{%trans "Update"%} {%trans "Saloos Repository"%}</a>
   <a target='_blank' href="tools/git?name=addons">{%trans "Update"%} {%trans "Saloos Addons Repository"%}</a>
   <a target='_blank' href="tools/db?backup=true">{%trans "Backup"%} {%trans "Project Database"%}</a>
   <a target='_blank' href="tools/db?upgrade=true">{%trans "Upgrade"%} {%trans "Project Database"%}</a>
  </div>
{%endblock%}