{%extends display.mvc%}
{%block head_css%}
 <link rel="stylesheet"       href="{{url.myStatic}}css/account.css"/>
{%endblock%}



{%block header%}
<header>
 <a href="{{url.root}}" title="{{site.slogan}}" tabindex="-1" id='logo'>
  <img src="{{url.static}}images/logo.png" alt='{{site.title}}'/>
 </a>
 <h1>{{site.title}}</h1>
 <h2>{{site.desc}}</h2>
</header>
{%endblock%}



{%block content%}
<div id="sidebox">
 <div data-xhr="content" class="content">
  <h1>{{page.desc}}</h1>
   <form class="ajx account" method="post">
{{forms.make(form[myform])}}
   </form>
{%block desc%}{%endblock%}
 </div>
</div>
{%endblock%}



{%block footer%}
<footer>
  <div class="container">
    <div class="hint--right" data-hint='{{site.desc}}'>
      <span>&copy; {{'now'|date('Y')}}</span> <a href="{{url.root}}" class="roll-link"><span data-title="{{site.title}}">{{site.title}}</span></a>
    </div>
    <div id="langList" data-xhr="langList" class="hint--left float-right" data-hint='{%trans "Work with Ermile in your own language"%}'>
{%for key, lang in site.langlist if site.langlist|length >1 and site.currentlang != key|slice(0, 2)%}
     <a href="{{url.full}}?lang={{key}}" hreflang="{{key|slice(0, 2)}}" data-action>{{lang}}</a>
{%endfor%}
    </div>
  </div>
</footer>
{%endblock%}