{%extends display.mvc%}


{%set codeUrl%}{%if url.tld == 'dev'%}http://code.ermile.dev/{%else%}https://code.ermile.com/{%endif%}{%endset%}


{%block head_css%}
 <link rel="stylesheet"       href="{{codeUrl}}css/ermile-10.1.0.css">
 <link rel="stylesheet"       href="{{codeUrl}}dash/dash-2.0.0.css">
{%endblock%}


{%block js%}
 <script src="{{codeUrl}}dash/dash-2.0.0.js"></script>
{%endblock%}


{%block body%}
<div class='f'>
 <aside id='sidebar' class='c2 x2'>
  {{block ('aside')}}
 </aside>

 <main id='main' class='c'>
  <header id='header' class='flex'>{{block ('header')}}</header>
  <div id='content' data-xhr='content'>{{block ('content')}}</div>
  <footer id='footer'>{{block ('footer')}}</footer>
 </main>
</div>

{%endblock%}



{%block aside%}
<div>
  <figure>
{%block avatar%}
    <div class="avatar">
      <img src="{{codeUrl}}dash/images/logo.jpg" alt="Avatar of you">
    </div>
    <figcaption>{%trans "Hello"%} <b>{{site.title}}</b></figcaption>
{%endblock%}
  </figure>


  <h1><a href="{{url.base}}" data-direct>{{site.title}}</a></h1>

  <ul class="sidenav">
{%block sidenav%}
    <li><a href="{{url.baseFull}}"><i class='icon-tachometer'></i> <span>{% trans "Dashboard" %}</span></a></li>
{%endblock%}
  </ul>
</div>
{%endblock%}


{%block header%}
{%block headerTitle%}
  <h1><a href="{{url.base}}" data-direct>{{site.title}}</a></h1>
{%endblock%}

  <div class='flex'>
{%block headerMenu%}
   <div class="f">
    <span class="icon-globe"></span>
    {{langList({'html':true, 'all': true})}}
   </div>
{%endblock%}
  </div>

  <div class='flex right'>
{%block headerRight%}
   <span class="icon-save"></span>
   <span class="icon-unlock-alt"></span>
{%endblock%}
  </div>
{%endblock%}


{%block wrapperAdmin%}
 <div class="f">
  <div class="c2 m0 s0"></div>
  <div class="c10 m12 s12">
   {{block ('headerAdmin')}}
   <div class="wrapper">
    {%block content%}{%endblock%}
   </div>
  </div>
 </div>
{%endblock%}

{%block headerAdmin%}
 <header>
  {{langList({'html':true})}}
  <div id="profile">
   <span>{{displayname}}</span>
   <nav>
    <a href="">{% trans "My Profile" %}</a>
    <a href="">{% trans "Change Password" %}</a>
    <a href="{{url.base}}/logout" data-direct>{% trans "Logout" %}</a>
   </nav>
  </div>
 </header>
{%endblock%}
