{%extends display.mvc%}

{%set codeUrl%}{%if url.tld == 'dev'%}http://code.ermile.dev/{%else%}https://code.ermile.com/{%endif%}{%endset%}


{%block head_css%}
 <link rel="stylesheet"       href="{{codeUrl}}css/ermile-10.2.0.css">
 <link rel="stylesheet"       href="{{codeUrl}}enter/enter.css">
{%endblock%}


{%block foot_js2%}

  <script src="{{codeUrl}}enter/enter.js"></script>
{%endblock%}


{%block body%}
 <div id='enter'>
  <div id='band'></div>
{%block card%}

{%block header%}
  <h1 class='logo'><a href='{{url.base}}' tabindex='1' data-direct>
{%if site.currentlang =='fa'%}
    <img src='{{url.static}}images/logo/logo.png' alt='{{site.title}} | {{site.desc}}'>
{%else%}
    <img src='{{url.static}}images/logo/logo.png' alt='{{site.title}} | {{site.desc}}'>
{%endif%}
    <span>{%trans "tejarak"%}</span>
  </a></h1>
{%endblock%}

  <div data-xhr='enter'>
{%block content%}
{%block contentTitle%}
 <h2 class='flex justify-center align-center'>
  <span class='notif' data-wait='{%trans "Please be patient..."%}' data-resend='{%trans "Dont recieve code?"%}'>{%if is_guest%}{%trans "You are guest, Enter your mobile"%}{%else%}{%trans "Enter to tejarak"%}{%endif%}</span>
{%if false%}<span class="loader"><span></span><span></span><span></span></span>{%endif%}
 </h2>
{%endblock%}
{%block contentBody%}
  <form method="post" autocomplete="off">
{%block contentForm%}{%endblock%}
  </form>
{%endblock%}
{%endblock%}
  </div>
{%endblock%}
 </div>

{%block footer%} {{langList({'html':true})}}{%endblock%}
{%endblock%}





{%block emobile%}
   <div class='flex fix' id='emobile'>
    <label for='mobile' title='{%trans "Mobile"%}'><svg version="1.1" id="i-mobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 35 35" xml:space="preserve"><path d="M25.302,0H9.698c-1.3,0-2.364,1.063-2.364,2.364v30.271C7.334,33.936,8.398,35,9.698,35h15.604 c1.3,0,2.364-1.062,2.364-2.364V2.364C27.666,1.063,26.602,0,25.302,0z M15.004,1.704h4.992c0.158,0,0.286,0.128,0.286,0.287 c0,0.158-0.128,0.286-0.286,0.286h-4.992c-0.158,0-0.286-0.128-0.286-0.286C14.718,1.832,14.846,1.704,15.004,1.704z M17.5,33.818 c-0.653,0-1.182-0.529-1.182-1.183s0.529-1.182,1.182-1.182s1.182,0.528,1.182,1.182S18.153,33.818,17.5,33.818z M26.021,30.625 H8.979V3.749h17.042V30.625z" fill="#fff"/></svg></label>
    <input id='mobile' name="mobile" type='tel' maxlength="15" placeholder='{%trans "Mobile"%}' data-invalid='{%trans "Please enter valid mobile number"%}' value="{{get_mobile}}" data-pl-user='{%trans "Mobile"%}' autocomplete="off">
   </div>
{%endblock%}



{%block epass%}
   <div class='flex fix' id='epasscode'>
    <label for='passcode'>Pwd</label>
    <input id='passcode' name="password" type='password' placeholder='{%trans "Password"%}' autocomplete="new-password" autocapitalize="off">
   </div>
{%endblock%}



{%block ego%}
   <div class='flex' id='goBox'>
    <button type="submit">{%trans "Go"%}</button>
   </div>
{%endblock%}