{% use "includes/mvc/display-enter-blocks.html" %}


  <div data-xhr='enter'>
{%block content%}
{%block contentTitle%}
 <h2 class='flex justify-center align-center'>
  <span class='notif' data-wait='{%trans "Please be patient..."%}' data-resend='{%trans "Dont recieve code?"%}'>{%if is_guest%}{%trans "You are guest, Enter your mobile"%}{%else%}{%trans "Enter to tejarak"%}{%endif%}</span>
{%if false%}<span class="loader"><span></span><span></span><span></span></span>{%endif%}
 </h2>
{%endblock%}
{%block contentBody%}
  <form method="post" autocomplete="off">
{%block contentForm%}{%endblock%}
  </form>
{%endblock%}
{%endblock%}
  </div>