{%extends display.cpMain%}


{%block content%}
 <form method="get" class="df f" data-action>
	<div class="c10">
		<label for="search">{%trans "Search"%}</label>
		<input type="text" name="search" class="c1" id="search" value='{{get_search}}' >
	</div>

	<div class="c1">
		<label>‌</label>
		<input type="submit"  class="c1 b1"  value='{%trans "Search"%}'>
	</div>
</form>
<br>

<div class="dt big">
	<div class="f th">
		<div class="c2"><a href="{{url.base}}/cp/transactions/{{order_url.name}}">{%trans "Name"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.title}}">{%trans "Title"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.status}}">{%trans "Status"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.type}}">{%trans "Type"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.unit}}">{%trans "Unit"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.ninus}}">{%trans "Minus"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.plus}}">{%trans "Plus"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.budgetbefore}}">{%trans "Budget Before"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.budget}}">{%trans "Budget"%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/{{order_url.date}}">{%trans "Date"%}</a></div>
		<div class="c">{%trans "More"%}</div>
		<div class="c">{%trans "Edit"%}</div>
	</div>
	{%for key, value in transactions_list%}
	<div class="f">
		<div class="c2" title="{{value.user_id}}">
			<a href="{{url.base}}/cp/transactions/mobile={{value.mobile}}">{{value.mobile| fitNumber}}</a>
			-
			<a href="{{url.base}}/cp/transactions/user={{value.user_id}}">{{value.displayname}}</a>
			<!-- add new transaction of this user -->
			<a href="{{url.base}}/cp/transactions/add?mobile={{value.mobile}}"><i class='icon-gavel'></i> <span> </span></a>
		</div>

		<div class="c" title="{{value.transactionitem_id}} - {{value.caller}}">
			<a href="{{url.base}}/cp/transactions/caller={{value.caller}}">{{value.title}}</a>
		</div>

		<div class="c">
			<a href="{{url.base}}/cp/transactions/status={{value.status}}">{%set myStatus = value.status%}{%trans myStatus%}</a>
		</div>

		<div class="c"><a href="{{url.base}}/cp/transactions/type={{value.type}}">{%set myType = value.type%}{%trans myType%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/unit={{value.unit}}">{%set myUnit = value.unit %}{%trans myUnit%}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/minus={{value.minus}}">{{value.minus | number_format | fitNumber}}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/plus={{value.plus}}">{{value.plus | number_format | fitNumber}}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/budgetbefore={{value.budgetbefore}}">{{value.budgetbefore | number_format | fitNumber }}</a></div>
		<div class="c"><a href="{{url.base}}/cp/transactions/budget={{value.budget}}">{{value.budget | number_format | fitNumber}}</a></div>
		{%if site.currentlang == 'fa'%}
			<div class="c"><a href='{{url.base}}/cp/transactions/date={{value.date | date("Y-m-d")}}'>{{value.date | jdate("Y-m-d H:i:s") }}</a></div>
		{%else%}
			<div class="c"><a href='{{url.base}}/cp/transactions/date={{value.date | date("Y-m-d")}}'>{{value.date | fitNumber}}</a></div>
		{%endif%}
		<div class="c">
		<!-- show log detail -->
			<a href="{{url.base}}/cp/transactions/log/id={{value.id}}"><i class='icon-gavel'></i> <span> </span></a>
		</div>

		<div class="c">
			<!-- save repait transaction -->
			<a href="{{url.base}}/cp/transactions/add/transactions={{value.id}}"><i class='icon-balance-scale'></i> <span> </span></a>
		</div>
	</div>
	{%endfor%}
</div>
<div class="pagination-container">
	{%include display.pagination%}
</div>


{%endblock%}
