<!-- {{dump(modules)}} -->
{%- for key in modules|keys -%}
   {%if not(modules[key]['disable'] == true) and perm[key]['view'] and not('parent' in modules[key]|keys) and not(key == 'home')%}
   {%set title = key|capitalize%}
      <a href="{{url.base}}{{key}}"><i class="fa fa-lg fa-{{('icon' in modules[key]|keys) ? modules[key]['icon'] : 'list'}}"></i><span>
      {%if modules[key]['title']%} {{modules[key]['title']}} {%else%} {%trans title%} {%endif%}
         </span></a>
   {%endif%}
{%-endfor-%}